// VARS

$card-black: #080808;
$orange: #FF9900;
$light-grey: #DCDCDC;
$dark-grey: #808080;

// * * * * * * * * * * * * * * * * * * * * * TEXT * * * * * * * * * * * * * * * * * * * * * * * * 

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #202020;
}

.mono-font {
  font-family: 'Roboto Mono', monospace;
}

.medium-font {
  font-weight: 500;
}

h1 {
  color: 	#DCDCDC;
  font-size: 4rem;
}

h2, h3, h4 {
  color: #DCDCDC;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.35rem;
}

.p1 {
  color: #808080;
  font-size: 1.1rem;
}

.p2 {
  color: #ff9900;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
}

.p3 {
  color: #ff9900;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * NAVBAR * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.logo {
  height: 50px;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * SIDE * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

.side {
  width: 70px;
  height: 450px;
  position: fixed;
  bottom: 0;
  left: 40px;
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.line {
  border-left: 1px solid $orange;
  height: 50%;
}

@media only screen and (max-width: 1300px) {
  .side {
      display: none;
  }
}

//  * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * *

#hero {
  margin: 300px 0 400px 0;
}

@media only screen and (max-width: 1300px) {
  #hero {
    margin: 200px 0 200px 0;
  }
}

//  * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * *

#about {
  margin: 0 0 200px 0;
}

.about-container {
  height: 400px;
  margin-top: 50px;
}

.about-image-container {
  height: 100%;
}

.about-image {
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 1300px) {
  #about {
    margin: 0 0 700px 0;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    height: 70%;
    margin-left: -7px;
  }
}

// * * * * * * * * * * * * SKILLS * * * * * * * * * * * * * * *

#skills {
  margin: 0 0 200px 0;
}

.icon {
  color: #ff9900;
  font-size: 6rem;
}

.uncolored-icon {
  filter: invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.colored-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

// .skill-container.width {
//   justify-content: start;
// }

.skill-icon {
  margin-bottom: 10px;
}

.tech-container {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
}

.flags-container {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  #skills {
    margin: 0 0 200px 0;
  }

  .skill-icon {
    height: 50px;
  }

  .skill-container {
    width: 100px;
  }

  .skill-caption {
    font-size: 0.9rem;
  }
}

// * * * * * * * * * * * * * * * PROJECTS * * * * * * * * * * * * * * * * * *

#projects {
  margin: 0 0 50px 0;
}

.featured-container {
  height: 370px;
  position: relative;
  margin: 150px 0 150px 0;
}

// should change this
.featured-container.first {
  margin-top: 80px;
}

.featured-image-container {
  width: 600px;
  height: 100%;
  position: absolute;
  // background-image: url('../assets/cryptoAcademy.png');
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

// .featured-image-container.third {
//   background-image: url('../assets/rbitrage.png');
// }

.featured-info {
  position: absolute;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 570px;
  height: 100%;
}

@media only screen and (max-width: 1300px) {
  .featured-info {
    width: 90vw;
    top: 230px;
    align-items: flex-start;
    margin-bottom: 200px;
    margin-right: -10px;
  }

  .featured-info .left {
    margin-left: -10px;
  }
// change 
  .featured-info.second {
    margin-left: -10px;
  }

  .featured-image-container {
    width: 90vw;
    margin-left: -10px;
  }

  .featured-image-container, second {
    width: 90vw;
    margin-right: -10px;
  }

  .featured-container {
    margin-bottom: 600px;
    height: 200px;
  }

  // change this
  .featured-container.first {
    margin-top: 20px;
  }

  // change this
  .featured-container.second {
    margin-bottom: 500px;
  }

  .project-tech {
    width: 100%;
  }
}

.featured-info * {
  font-weight: 400;
}

.featured-info h3 {
  font-weight: 500;
}

.featured-header {
  font-weight: 500;
}

.info-card {
  width: 100%;
  background-color: #080808;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: right;
}

@media only screen and (max-width: 1300px) {
  .info-card {
    text-align: left;
  }
}

.info-card .left {
  text-align: left;
}

// change
.info-card.second {
  text-align: left;
}

.project-tech * {
  font-weight: 300;
}

.tech-list-item {
  display: inline;
}

.featured-image-container.left {
  right: 0px;
}

// section img {
//   right: 0px;
// }

// change this
.featured-image-container.second {
  right: 0px;
}

.featured-info .left {
  left: 0px;
  align-items: flex-start;
}

// change this
.featured-info.second {
  left: 0px;
  align-items: flex-start;
}

.project-card {
  height: 270px;
  margin: 30px 0 30px 0;
  background-color: $card-black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.light-text {
  font-weight: 300;
  font-size: 0.95rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.icon-link {
  color: #808080;
  font-size: 1.6rem;
  text-decoration: none;
}

.icon-link :hover {
  color: #FF9900;
  text-decoration: none;
  cursor: pointer;
}

.project-tech {
  margin-bottom: auto;
}

.featured-links-container {
  display: flex;
}

#more-projects {
  margin: 200px 0 200px 0;
}

// * * * * * * * * * * * * * * CONTACT * * * * * * * * * * * * * * *

#contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0px 0 200px 0;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  #contact {
    margin: 0px 0 100px 0;
  }
}

// * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * *

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link :hover {
  color: #FFFFFF;
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container {
  display: flex;
}

#email-icon {
  margin-top: -5px;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * MORE ICONS * * * * * * * * * * * * * * * * * * * * * * * * 

.side-icon {
  font-size: 1.9rem;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * EXPERIENCE ACCORDION * * * * * * * * * * * * * * * * * * * * * * * * 
#experience {
  margin: 0 0 450px 0;
}

.experience-accordion {
  background-color: #202020;
  color: $dark-grey;
}

.accordion-button {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #202020;
  color: $dark-grey;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * CERTIFICATIONS * * * * * * * * * * * * * * * * * * * * * * * * 
#certifications {
  margin: 0 0 400px 0;
}

.certification-container {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

.certificate-image {
    height: 225px;
    width: 225px;
}
