// VARS

// $card-black: #080808;
// $card-black: #424242;
// $card-black: #7F7F7F;
// $card-black: #404040;
// $card-black: #383838;
$card-black: #303030;
$orange: #FF9900;
// $light-grey: #DCDCDC;
$light-grey: #FFFFFF;
// $lighter-grey: #DCDCDC;
$lighter-grey: #BFBFBF;
$white: #FFFFFF;
$dark-grey: #686868;
// $dark-grey: #404040;
// $background-black: #171618;
$background-black: #121212;

// * * * * * * * * * * * * * * * * * * * * * TEXT * * * * * * * * * * * * * * * * * * * * * * * * 

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: $background-black;
}

.mono-font {
  font-family: 'Roboto Mono', monospace;
}

.medium-font {
  font-weight: 500;
}

h1 {
  color: 	$light-grey;
  font-size: 4rem;
}

h2, h3, h4 {
  color: $light-grey;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.35rem;
}

.p1 {
  color: $lighter-grey;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.bio-list .p1 {
  margin-bottom: 1.2em;
}

@media only screen and (max-width: 1300px) {
  .p1 {
    font-size: 1rem;
  }
}

.p2 {
  color: $orange;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
}

.p3 {
  color: $orange;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
}

.third-text {
  color: $lighter-grey;
  font-weight: 400;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * NAVBAR * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.logo {
  height: 50px;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * SIDE * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

.side {
  width: 70px;
  height: 450px;
  position: fixed;
  bottom: 0;
  left: 40px;
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.line {
  border-left: 1px solid $orange;
  height: 50%;
}

@media only screen and (max-width: 1300px) {
  .side {
      display: none;
  }
}

//  * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * *

#hero {
  margin: 300px 0 400px 0;
}

@media only screen and (max-width: 1300px) {
  #hero {
    margin: 16rem 0 28rem 0;
  }
}

//  * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * *

#about {
  margin: 0 0 200px 0;
}

.about-container {
  height: 400px;
  margin-top: 50px;
}

.about-image-container {
  height: 100%;
}

.about-image {
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 1300px) {
  #about {
    margin: 0 0 700px 0;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    height: 70%;
    margin-left: -7px;
  }
}

// * * * * * * * * * * * * SKILLS * * * * * * * * * * * * * * *

#skills {
  margin: 0 0 200px 0;
}

@media only screen and (max-width: 1300px) {
    #skills {
      margin-bottom: 16rem;
    }
}

.icon {
  color: $orange;
  font-size: 6rem;
}

.uncolored-icon {
  filter: invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.colored-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.skill-container {
  width: calc(100% / 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

// .skill-container.width {
//   justify-content: start;
// }

.skill-icon {
  margin-bottom: 10px;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem; // or whatever gap you prefer
}

@media (min-width: 992px) {
  .tech-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 991px) {
  .tech-container {
    grid-template-columns: repeat(3, 1fr); // or 3, as you prefer
  }
}

.flags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.one-flag {
  width: 200px;
}

.flag-image {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .flags-container {
    justify-content: center;
  }
  
  .one-flag {
    width: 200px;
  }
  
  .flag-image {
    width: 100%;
    height: 120px;
  }

  .language-caption {
    width: 100%;
  }
}


.language-caption {
  text-align: center;
  margin-top: 0.5rem;
}


#php-icon {
  width: 100px;
  height: 50px;
  margin-top: auto;
}

#php-caption {
  margin-top: auto;
}

@media only screen and (max-width: 1300px) {
  #skills {
    margin: 0 0 200px 0;
  }

  .skill-icon {
    height: 50px;
  }

  .skill-container {
    width: 100px;
  }

  .skill-caption {
    font-size: 0.9rem;
  }

  #php-icon {
    height: 25px;
    width: 50px;
  }
}

.skill-caption {
    max-width: 150px;
    text-align: center;
}

// * * * * * * * * * * * * * * * PROJECTS * * * * * * * * * * * * * * * * * *

#projects {
  margin: 0 0 50px 0;
}

.featured-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 370px;
  position: relative;
  margin: 150px 0 150px 0;
}

// should change this
.featured-container.first {
  margin-top: 80px;
}

.featured-image-container {
  width: 600px;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 0;
}

.featured-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 570px;
  height: 100%;
  background: none;
  gap: 1.2rem;
}

.featured-container.left {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1300px) {
  .featured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    height: auto;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  .featured-info {
    position: static;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    top: unset;
    height: auto;
    margin-top: 1.5rem;
    text-align: left;
    gap: 1.2rem;
  }
  .featured-info > *,
  .featured-info h3,
  .featured-info p,
  .featured-info ul,
  .featured-info .info-card {
    text-align: left !important;
    align-items: flex-start !important;
  }
  .featured-image-container,
  .info-card {
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
}

@media only screen and (max-width: 1300px) {
  .featured-container {
    margin-bottom: 2.5rem;
  }
}

.featured-info * {
  font-weight: 400;
}

.featured-info h3 {
  font-weight: 500;
}

.featured-header {
  font-weight: 500;
}

.info-card {
  width: 100%;
  background-color: $card-black;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: right;
}

@media only screen and (max-width: 1300px) {
  .info-card {
    text-align: left;
  }
}

.info-card .left {
  text-align: left;
}

// change
.info-card.second {
  text-align: left;
}

.project-tech * {
  font-weight: 300;
}

.tech-list-item {
  display: inline;
}

.featured-image-container.left {
  right: 0px;
}

// section img {
//   right: 0px;
// }

// change this
.featured-image-container.second {
  right: 0px;
}

.featured-info .left {
  left: 0px;
  align-items: flex-start;
}

// change this
.featured-info.second {
  left: 0px;
  align-items: flex-start;
}

.project-card {
  height: 270px;
  margin: 30px 0 30px 0;
  background-color: $card-black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.light-text {
  font-weight: 300;
  font-size: 0.95rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.icon-link {
  color: $dark-grey;
  // color: $lighter-grey;
  font-size: 1.6rem;
  text-decoration: none;
}

.icon-link :hover {
  color: $orange;
  text-decoration: none;
  cursor: pointer;
}

// .project-tech {
  // margin-bottom: auto;
// }

.featured-links-container {
  display: flex;
}

#more-projects {
  margin: 200px 0 200px 0;
}

// * * * * * * * * * * * * * * CONTACT * * * * * * * * * * * * * * *

#contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0px 0 200px 0;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  #contact {
    margin: 0px 0 100px 0;
    height: auto;
  }
}

// * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * *

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark-grey;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: $white;
}

.link :hover {
  color: $white;
}

.contact-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email-container {
  display: flex;
}

#email-icon {
  margin-top: -5px;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * MORE ICONS * * * * * * * * * * * * * * * * * * * * * * * * 

.side-icon {
  font-size: 1.9rem;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * EXPERIENCE ACCORDION * * * * * * * * * * * * * * * * * * * * * * * * 
#experience {
  margin: 0 0 450px 0;
}

@media only screen and (max-width: 1300px) {
    #experience {
      margin-bottom: 16rem;
    }
}

.experience-accordion {
  background-color: $background-black;
  // color: $dark-grey;
}

.accordion-button {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: $background-black;
  // color: $dark-grey;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.experience-list * {
  list-style-type: disc;
  margin-left: 20px;
}

.experience-list .p1 {
  margin-bottom: 1.2em;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * CERTIFICATIONS * * * * * * * * * * * * * * * * * * * * * * * * 
#certifications {
  margin: 0 0 400px 0;
}

@media only screen and (max-width: 700px) {
    #certifications {
      margin-top: 16rem;
    }
}

.certification-container {
    height: 225px;
    width: 100%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
  .certification-container {
    flex-direction: column;
    height: 355px;
    margin-top: 50px;
  }

  #aru-container {
    margin-top: 200px;
  }

  .tf-container {
    margin-top: 50px;
  }
}

.tf-container {
    margin-top: 60px;
}

.certificate-image {
    height: 225px;
    width: 225px;
}

#certificate-caption {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1300px) {
  .certificate-caption {
    margin-top: 20px;
    margin-left: 0 !important;
    width: 256px;
  }
}

.certificate-title {
    margin-bottom: 0 !important;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * EDUCATION * * * * * * * * * * * * * * * * * * * * * * * * 

#education {
  margin: 0 0 400px 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * PUBLICATIONS * * * * * * * * * * * * * * * * * * * * * * * * 

#publications {
  margin: 0 0 400px 0;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * VOLUNTARY WORK * * * * * * * * * * * * * * * * * * * * * * * * 

#voluntaryWork {
  margin: 0 0 400px 0;
}

@media only screen and (max-width: 1300px) {
    #voluntaryWork {
      margin-bottom: 16rem;
    }
  }

.volunteer-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: white;
  padding: 8px;
}

@media only screen and (max-width: 1300px) {
  .featured-image-container,
  .info-card {
    width: 100%;
    box-sizing: border-box;
    max-width: none;
  }
}

@media only screen and (max-width: 1300px) {
  .project-card {
    height: auto;
    min-height: 0;
  }
}
