// VARS NOT CURRENTLY IN USE

// $primary: red;
// $background-black: #202020;
$card-black: #080808;
$orange: #FF9900;
$light-grey: #DCDCDC;
$dark-grey: #808080;

// @import '../../node_modules/bootstrap/scss/functions';
// @import '../../node_modules/bootstrap/scss/variables';

// $custom-theme-colors: (
//   "background-black": #202020,
//   "light-grey": #DCDCDC,
//   "dark-grey": #808080,
//   "orange": #FF9900
// );

// $theme-colors: map-merge($custom-theme-colors, $theme-colors);

// @import '../../node_modules/bootstrap/scss/bootstrap';

// * * * * * * * * * * * * * * * * * * * * * TEXT * * * * * * * * * * * * * * * * * * * * * * * * 

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  // background-color (dark grey?)
  background-color: #202020;
}

// font-family: 'Roboto Mono', monospace;
// font-weight: 500; // 400 also imported

.mono-font {
  font-family: 'Roboto Mono', monospace;
}

.medium-font {
  font-weight: 500;
}

h1 {
  color: 	#DCDCDC;
  font-size: 4rem;
}

// remove smaller ones later
h2, h3, h4 {
  color: #DCDCDC;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.35rem;
}

.p1 {
  color: #808080;
  font-size: 1.1rem;
}

.p2 {
  // color: #FFA500;
  color: #ff9900;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 1300px) {
  .p2 {
    // font-size: 0.9rem;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * NAVBAR * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.logo {
  height: 50px;
}

// nav {
//   position: fixed;
// }

// * * * * * * * * * * * * * * * * * * * * * * * * * * * SIDE * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

.side {
  width: 70px;
  height: 450px;
  // background-color: blue;
  // opacity: 0.2;
  position: fixed;
  bottom: 0;
  left: 40px;
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  // display: clamp(0px, none, 641px);
}

.line {
  border-left: 1px solid $orange;
  height: 50%;
}

//  * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * *

#hero {
  margin: 300px 0 400px 0;
}

@media only screen and (max-width: 1300px) {
  #hero {
    margin: 100px 0 100px 0;
  }
}

//  * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * *

#about {
  margin: 0 0 200px 0;
}

.about-container {
  height: 400px;
  margin-top: 50px;
}

.about-image-container {
  height: 100%;
}

.about-image {
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 1300px) {
  #about {
    margin: 0 0 700px 0;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    height: 70%;
    margin-left: -50px;
  }
}


// * * * * * * * * * * * * SKILLS * * * * * * * * * * * * * * *

#skills {
  margin: 0 0 200px 0;
}

.icon {
  color: #ff9900;
  font-size: 6rem;
}

.uncolored-icon {
  filter: invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.colored-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.skill-icon {
  margin-bottom: 10px;
}

.tech-container {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
}

.flags-container {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  // #skills {
    // padding-left: -50px;
  // }

  .skill-icon {
    height: 50px;
  }

  .skill-container {
    // padding: 0 10px 0 10px;
    // margin: 0 10px 0 10px;
    // justify-content: space-between;
    width: 100px;
  }

  .skill-caption {
    font-size: 0.9rem;
  }
}

// * * * * * * * * * * * * * * * PROJECTS * * * * * * * * * * * * * * * * * *

#projects {
  margin: 0 0 50px 0;
}

.featured-container {
  height: 370px;
  position: relative;
  margin: 150px 0 150px 0;
}

.featured-container.first {
  margin-top: 80px;
}

.featured-image-container {
  width: 600px;
  height: 100%;
  position: absolute;
  background-image: url('../assets/cryptoAcademy.png');
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.featured-info {
  position: absolute;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 570px;
  height: 100%;
}

.featured-info * {
  font-weight: 400;
}

.featured-info h3 {
  font-weight: 500;
}

.featured-header {
  font-weight: 500;
}

.info-card {
  width: 100%;
  background-color: #080808;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: right;
}

.info-card.second {
  text-align: left;
}

.project-tech * {
  font-weight: 300;
}

.tech-list-item {
  display: inline;
}

.featured-image-container.second {
  right: 0px;
  background-image: url('../assets/compCoin.png');
}

.featured-info.second {
  left: 0px;
  align-items: flex-start;
}

.project-card {
  height: 270px;
  // border: 1px solid black;
  margin: 30px 0 30px 0;
  background-color: $card-black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.light-text {
  font-weight: 300;
  font-size: 0.95rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.icon-link {
  color: #808080;
  font-size: 1.6rem;
  text-decoration: none;
}

.icon-link :hover {
  color: #FF9900;
  text-decoration: none;
  cursor: pointer;
}

// .card-icon {
//   display: block;
// }

.project-tech {
  margin-bottom: auto;
}

.featured-links-container {
  display: flex;
}

#more-projects {
  margin: 200px 0 200px 0;
}



// * * * * * * * * * * * * * * CONTACT * * * * * * * * * * * * * * *

#contact {
  // background-color: teal;
  height: 500px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin: 0px 0 200px 0;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * *

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link :hover {
  color: #FFFFFF;
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container {
  display: flex;
  // align-items: center;
}

#email-icon {
  margin-top: -5px;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * MORE ICONS * * * * * * * * * * * * * * * * * * * * * * * * 

.side-icon {
  // color: #FF9900;
  font-size: 1.9rem;
  // text-decoration: none;
}

// .side-icon :hover {
//   color: #FF9900;
//   text-decoration: none;
// }

// * * * * * * * * * * * * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

@media only screen and (max-width: 1300px) {
  .side {
      display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .project-tech {
      width: 20vw;
  }
}