// HERO

#hero {
  background-color: lightblue;
}

// ABOUT

#about {
  background-color: limegreen;
}

// SKILLS

#skills {
  background-color: palevioletred;
}

// PROJECTS

#projects {
  background-color: palegreen;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  height: 350px;
  border: 1px solid black;
}

.featured-image {
  width: 750px;
  // right negative margin is arbitrarily greater than some threshold
  margin-right: -160px;
  border: 1px solid black;
}

.featured-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 600px;
  border: 1px solid black;
}

.info-card {
  width: 100%;
  height: 150px;
  border: 1px solid black;
}



// CONTACT

#contact {
  background-color: teal;
}

// FOOTER

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link :hover {
  color: #FFFFFF;
}