#hero {
  background-color: lightblue;
}

#about {
  background-color: limegreen;
}

#skills {
  background-color: palevioletred;
}

#projects {
  background-color: palegreen;
}

#contact {
  background-color: teal;
}

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link :hover {
  color: #FFFFFF;
}