// VARS NOT CURRENTLY IN USE

// $primary: red;
// $background-black: #202020;
$card-black: #080808;
$orange: #FF9900;

// @import '../../node_modules/bootstrap/scss/functions';
// @import '../../node_modules/bootstrap/scss/variables';

// $custom-theme-colors: (
//   "background-black": #202020,
//   "light-grey": #DCDCDC,
//   "dark-grey": #808080,
//   "orange": #FF9900
// );

// $theme-colors: map-merge($custom-theme-colors, $theme-colors);

// @import '../../node_modules/bootstrap/scss/bootstrap';

// * * * * * * * * * * * * TEXT * * * * * * * * * * * * * * *

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  // background-color (dark grey?)
  background-color: #202020;
}

// font-family: 'Roboto Mono', monospace;
// font-weight: 500; // 400 also imported

.mono-font {
  font-family: 'Roboto Mono', monospace;
}

.medium-font {
  font-weight: 500;
}

h1 {
  color: 	#DCDCDC;
  font-size: 4rem;
}

// remove smaller ones later
h2, h3, h4 {
  color: #DCDCDC;
}

h4 {
  font-size: 1.35rem;
}

.p1 {
  color: #808080;
  font-size: 1.1rem;
}

.p2 {
  // color: #FFA500;
  color: #ff9900;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
}

// * * * * * * * * * * * * SIDE * * * * * * * * * * * * * * *

.side {
  width: 70px;
  height: 400px;
  background-color: red;
  position: fixed;
  bottom: 0;
  left: 150px;
}

//  * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * *

// #hero {
//   background-color: lightblue;
// }

//  * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * *

#about {
  background-color: limegreen;
}

.about-container {
  // display: flex;
  // justify-content: space-between;
  border: 1px solid black;
}

.about-text {
  border: 1px solid red;
}

.about-image-container {
  // width: 400px;
  border: 1px solid black;
}

// * * * * * * * * * * * * SKILLS * * * * * * * * * * * * * * *

// #skills {
//   background-color: palevioletred;
// }

.icon {
  color: #ff9900;
  font-size: 6rem;
}

.uncolored-icon {
  filter: invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.colored-icon {
  filter: brightness(0) saturate(100%) invert(67%) sepia(30%) saturate(4754%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

// * * * * * * * * * * * * * * * PROJECTS * * * * * * * * * * * * * * * * * *

// #projects {
//   background-color: palegreen;
// }

.featured-container {
  // display: flex;
  // justify-content: space-between;
  height: 370px;
  // border: 1px solid black;
  position: relative;
}

.featured-image-container {
  width: 600px;
  height: 100%;
  // border: 1px solid black;
  position: absolute;
  background-image: url('../assets/cryptoAcademy.png');
  background-size: cover;
  // filter: brightness(80%);
  border-radius: 5px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

// .featured-image {
//   height: 100%;
// }

.featured-info {
  position: absolute;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 570px;
  height: 100%;
  // border: 1px solid black;
}

.featured-info * {
  font-weight: 400;
}

.info-card {
  width: 100%;
  // height: 150px;
  // border: 1px solid black;
  background-color: #080808;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: right;
}

.project-tech * {
  font-weight: 300;
}

.featured-image-two-container {
  // text-align: right;
  // margin-left: -160px;
  width: 550px;
  height: 100%;
  border: 1px solid black;
  position: absolute;
  right: 0px;
  background-image: url('../assets/compCoin.png');
  background-size: cover;
}

// .featured-image-two {
//   height: 100%;
// }

.featured-info-two {
  position: absolute;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  align-items: flex-start;
  border: 1px solid black;
}

.project-card {
  height: 250px;
  // border: 1px solid black;
  margin: 30px 0 30px 0;
  background-color: $card-black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.light-text {
  font-weight: 300;
  font-size: 0.95rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.icon-link {
  color: #808080;
  font-size: 1.6rem;
  text-decoration: none;
}

.icon-link :hover {
  color: #FF9900;
  text-decoration: none;
}

// .card-icon {
//   display: block;
// }

.project-tech {
  margin-bottom: auto;
}



// * * * * * * * * * * * * * * CONTACT * * * * * * * * * * * * * * *

#contact {
  background-color: teal;
}

// * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * *

.footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link :hover {
  color: #FFFFFF;
}

